*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

:root {
    /* fonts */
    --font-inter: Inter;
  
    /* font sizes */
    --font-size-base: 16px;
    --font-size-5xl: 24px;
  
    /* Colors */
    --color-white: #fff;
  
    /* Gaps */
    --gap-3xs: 5px;

  }

.desktop-1 {
    position: relative;
    background-color: var(--color-white);
    background:linear-gradient(rgba(5, 5, 41, 0.8),rgba(28, 13, 143, 0.559));
    width: 100%;
    height: 1024px;
    overflow: hidden;
    font-size: var(--font-size-5xl);
    color: var(--color-white);
    font-family: var(--font-inter);
}

.weather-card {
    display: flex;
    margin: auto;
    margin-top: 50px;
    width: 500px;
    height: fit-content;
    max-width: 500px;
    border-radius: 18px;
    background: linear-gradient(147.75deg, #905ad4, #3330a5);
    box-shadow: 0 7px 15.9px rgba(0, 0, 0, 0.43);
    flex-direction: column;
    justify-content: flex-start;
    padding: 42px 30px;
    gap: 10px;
    overflow: auto;
}
.weather-card-color2
{
    background: linear-gradient(147.75deg, #5a76d4, #a58830);
}

.header {
    display: flex;
    width: fit-content;
    margin: auto;
    gap: var(--gap-3xs);
    color: #7d7d7d;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
}
p
{
    font-style: var(--font-inter);
    font-weight: bold;
}


.search input
{
    box-sizing: border-box;
    background: #ffffff;
    box-shadow: inset 0px 4px 4px 0px  rgb(176, 176, 176);
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
    color: #100045e1;
    width: 315px;
    height: 53px;
    padding: 10px;
    border-radius: 30px;
    border: solid 0px rgb(0, 0, 0);
    outline: none;
}

.header .search-btn
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height:40px;
    padding: 23px;
    border-radius: 40px;
    border: solid 0px grey;
}
.header .search-btn:hover
{
    width: 42px; height: 42px;
    box-shadow: 0px 2px 4px 0px rgb(29, 29, 29);
}

.header .search-icon
{
    cursor: pointer;
    width: 40px;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap-3xs);
    padding: 40px 0px;
    display: none;
}
.hero .temp-data
{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 50px;
}
.hero .temp-data .city
{
    font-size: 25px;
    font-weight: normal;
}

.hero .weather-icon
{
    width: 100px;
}

.hero .weather-icon-scaleUp
{
    animation: scale-up 3s ease-in-out;
}
@keyframes scale-up {
    0%{
        width: 100px;
    }
    50%{
        width: 110px;
        transform: scale(1.1);
    }
    100%{
        width: 100px;
    
    }   
}

.city
{
    font-size: 35px;
    font-family: var(--font-inter);
    font-style: var(--font-inter);
}


.footer{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    row-gap: 40px;
    column-gap: 80px;
    display: none;
}

.main-data
{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    font-size: 20px;
}
.main-data img
{
    width: 40px;
    height: 35px;
}

.main-data div p:nth-child(1)
{
    font-weight: normal;
    font-size: 18px;
}

.main-data:nth-child(3) img
{
    width: 35px;
    height: 60px
}
.main-data:nth-child(4) img
{
    width: 55px;
    height: 60px
}

/* 
.humidity
{
    font-weight: normal;
}

.wind
{
    font-weight: normal;
} */








